.jumbotron {
    padding-top: 6rem;
    background-color: #4c1d95;
}

#projects {
    background-color: #86198f;
}

/* style for responsive text */
.jumbotron h1{
    font-size: 4vw;
}

.jumbotron .lead{
    font-size: 3vw;
}
/* end of style for responsive text */

footer {
    background-color: #6b21a8;
    padding-bottom: 1rem;
    font-size: .8rem;
}

section {
    padding-top: 5rem;
}